
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutPortada.cshtml";
}

<div style="margin-top: 100px;" class="container shadow-lg p-3 bg-white rounded pl-5 pr-5 pb-5">
    <h1 class="text-center">Registro de Empresa</h1>
    <form id="formRegistrarEmpresa" class="needs-validation" enctype="multipart/form-data" novalidate>
        <h4 class="mt-2 mb-2">Perfil:</h4>
        <div class="row">
            <div class="col-12 col-md-9">
                <label for="nombre_empresa">Nombre:</label>
                <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" required>
                <input type="hidden" id="id_empresa" name="id_empresa" value="-1">
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-12 col-md-3">
                <label for="NIT_empresa">NIT:</label>
                <input type="text" class="form-control" id="NIT_empresa" name="NIT_empresa" required>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-9">
                <label for="nombre_persona_empresa">Nombre Persona Responsable:</label>
                <input type="text" class="form-control" id="nombre_persona_empresa" name="nombre_persona_empresa" required>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-12 col-md-3">
                <label for="pais_empresa">Pais:</label>
                <input type="text" class="form-control" id="pais_empresa" name="pais_empresa" disabled value="Bolivia" required>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label for="estadoregion">Departamento:</label>
                <select class="form-select" id="estadoregion" name="estadoregion" required>
                    <option selected disabled value="">Seleccionar Departamento...</option>
                    @foreach (var item in ViewBag.tDepartamentos)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-12 col-md-3">
                <label for="ciudad_empresa">Ciudad:</label>
                <input type="text" class="form-control" id="ciudad_empresa" name="ciudad_empresa" required>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-12 col-md-6">
                <label for="direccion_empresa">Direccion:</label>
                <input type="text" class="form-control" id="direccion_empresa" name="direccion_empresa" required>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="sitio_web_empresa">Sitio Web:</label>
                <input type="text" oninput="verificarURL(0)" class="form-control" id="sitio_web_empresa" name="sitio_web_empresa">
                <div style="font-size:13px;" class="text-danger" id="estadoUrl" hidden="hidden">¡Sitio web no valido!</div>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-12 col-md-3">
                <label for="telefonoCelular">Tel.Celular:</label>
                <input type="text" class="form-control" id="telefonoCelular" oninput="verificarCelular(0)" name="telefonoCelular" maxlength="8">
                <div id="estadoNumero" style="font-size:13px;" class="text-danger" hidden="hidden">¡Su número de celular debe tener 8 caracteres!</div>
            </div>
            <div class="col-12 col-md-3">
                <label for="telefonoFijo">Tel.Fijo:</label>
                <input type="text" class="form-control" id="telefonoFijo" name="telefonoFijo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <label for="descripcion_empresa">Descripcion:</label>
                <textarea class="form-control" id="descripcion_empresa" name="descripcion_empresa" minlength="10" maxlength="500" style="resize: none; height: 200px;" required onkeyup="ContarCaracteres($(this).val(),'500',$(this))"></textarea>
                <p id="CaracteresDispEmpresa" class="text-left"></p>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-md-3">
                <label for="imagen">Imagen:</label>
                <div id="contImg" class="border border-secondary" style="height: 175px;"></div>
                <img id="foto" class="img-fluid border" style="max-height: 175px; min-height: 175px; height: 175px; width: 100% " src="" alt="" hidden="hidden">
                <div id="div_file_new">
                    <label id="palabras" for="imagen">Seleccionar Imagen</label>
                    <input type="file" name="imagen" id="imagen" class="form-control-file" onchange="showImg()" required />
                    <div class="invalid-feedback bg-white">¡Campo Vacio!</div>
                </div>
            </div>
        </div>
        <hr />
        <h4 class="mt-2 mb-2">Cuenta:</h4>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label for="correo_empresa">Correo:</label>
                <input type="email" class="form-control" oninput="verificarCorreo(0)" id="correo_empresa" name="correo_empresa" required>
                <div id="estadoCorreo" style="font-size:13px;" class="text-danger" hidden="hidden">¡Correo no valido!</div><div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
            <div class="col-12 col-sm-6">
                <label for="clave">Contraseña</label>
                <input type="password" class="form-control" id="clave" name="clave" required>
                <div class="invalid-feedback">¡Campo Vacio!</div>
            </div>
        </div>
        <hr />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="terminosCondiciones" required>
            <label class="form-check-label text-dark" for="terminosCondiciones">
                He leído y acepto los <a style="text-decoration: underline; cursor: pointer;" class="text-primary" data-bs-toggle="modal" data-bs-target="#modalTerminosCondiciones">Términos y Condiciones de uso</a>
            </label>
            <div class="invalid-feedback">¡Debe aceptar los Términos y Condiciones!</div>
        </div>
        <div class="d-grid gap-2 mt-5">
            <button id="btnRegistrarEmpresa" type="submit" class="btn btn-ejecucion-portada">
                Registrar
                Empresa
            </button>
        </div>
        @*<div class="form-group d-flex justify-content-center py-3 mt-5">
            <button id="btnRegistrarEmpresa" type="submit" class="btn btn-ejecucion-portada">
                Registrar
                Empresa
            </button>
        </div>*@
    </form>
</div>
<br />


<!-- Modal -->
<div class="modal fade" id="modalTerminosCondiciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Términos y Condiciones de Uso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-primary text-center" style="text-decoration: underline; font-size:18px;">TÉRMINOS Y CONDICIONES DE USO<br />UPDS TRABAJA</h5>
                <p class="mt-4"><b>Fecha de publicacion:</b> 14 de mayo del 2022<br /> <b>Fecha de ultima actualizacion:</b> 16 de mayo del 2022</p>

                <p>I. INFORMACION CORPORATIVA</p>
                <p>
                    El sitio web https://tarija.upds.edu.bo/UPDSTrabaja es ofrecido por la Univerwsidad Privada Domingo Savio Sede Tarija.
                    <br />Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.
                </p>

                <p>II. ACEPTACION</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>

                <p>III. USO DEL SERVICIO</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>

                <p>IV. DATOS, CONTENIDOS, E INFORMACION</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>
            </div>
        </div>
    </div>
</div>

<div id="preloader4"></div>

<script src="~/Scripts/js/registroEmpresa.js"></script>