
@{
    ViewBag.Title = "CandidatoIndex";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div id="cargandocandidatos" class="text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="table-responsive-lg" id="contenidoTcandidatos">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white d-flex justify-content-end">
            <li class="breadcrumb-item active" aria-current="page">Candidatos</li>
        </ol>
    </nav>
    <div class="d-flex flex-row bd-highlight">
        <div class="bd-highlight container-icono-titulo rounded-circle shadow">
            <span class="fas fa-id-card icono"></span>
        </div>
        <div class="ml-2 bd-highlight container-titulos">
            <span class="font-weight-bold titulo">Candidatos</span><br />
            <span class="text-secondary font-italic parrafo">Lista de los candidatos registrados en el sistema</span>
        </div>
    </div>
    <br />
    <table id="tCandidatosIndex" class="table table-striped display my-table-DT animated slideInLeft" style="width:100%"></table>
</div>

<div class="modal fade back-gray10" id="MasInfoModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-start modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mas Informacion del Candidato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="contenidoDetalle1" class="modal-body mx-1">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Administrador/AdministrarCandidato.js"></script>

