
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <div id="cargandoindex" class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-2">
            <div id="dashboardempresa"></div>
        </div>
        <div class="col-sm-6 mt-2">

            <div id="dashboardadmin"></div>
        </div>
        <div class="col-sm-12 mt-4">
            <div id="dashboardcand"></div>
        </div>
    </div>
<script src="~/Scripts/js/Administrador/DashboardEmpresa.js"></script>
<script src="~/Scripts/js/Administrador/DashboardAdmin.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
<script src="https://code.highcharts.com/modules/lollipop.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="~/Scripts/js/Administrador/Dashboardcand.js"></script>