
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPortada.cshtml";
}

<div class="wrapper-login">
    <div class="logo">
        <img src="~/Content/img/Logos/isologo-azul-upds_800x800.png" />
    </div>
    @*<div class="text-center mt-4 name">
            Iniciar Sesión
        </div>*@
<form id="formulario" class="p-3 mt-3">
    <div class="form-field d-flex align-items-center shadow">
        <p class="icon-login"><i class="fa-solid fa-user"></i></p>
        <input type="text" name="usuario" id="usuario" placeholder="Correo" required>
    </div>
    <div class="form-field d-flex align-items-center shadow">
        <p class="icon-login"><i class="fas fa-key"></i></p>
        <input type="password" name="clave" id="clave" placeholder="Contraseña" required>
    </div>

    @*<input id="btnLogin" type="submit" class="btn mt-3" value="Iniciar Sesión">*@
    <button id="btnLogin" type="submit" class="btn mt-3">Iniciar Sesión</button>
</form>
    <div class="text-center fs-6">
        <a href="#" onclick="ConfirmCambiarClave()">¿Olvido la contraseña?</a> o <a href="#" data-bs-toggle="modal" data-bs-target="#ModalRegistro">Registrate Ahora</a>
    </div>
</div>

<div id="preloader2"></div>

<script src="~/Scripts/js/login.js"></script>