
@{
    ViewBag.Title = "Portada";
    Layout = "~/Views/Shared/_LayoutPortada.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Bienvenido a <span>UPDS Trabaja</span></h1>
        <h2>Mejoramos la inserción laboral mediante la vinculación entre la demanda laboral de la Comunidad Universitaria UPDS y la oferta de vacantes en puestos de trabajo de organizaciones empleadoras.</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Empezar</a>
            <a href="https://www.youtube.com/watch?v=kKZoOweTiZA" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Ver video</span></a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-briefcase fa-2xl ico-class"></i></div>
                        <h4 class="title"><a href="">Consigue trabajo</a></h4>
                        <p class="description">Postula a empleos de diferentes empresas ya registradas en Bolsa de trabajo UPDS.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="fa-solid fa-user-tie fa-2xl ico-class"></i></div>
                        <h4 class="title"><a href="">Reclutamiento</a></h4>
                        <p class="description">Descubre a nuestros profesionales capacitados en distintas areas.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Nuestros Beneficios</h2>
                <h3>Obtenga más información sobre<span> nuestros beneficios</span></h3>
                <p>Para todos los estudiantes que pertenecen a nuestra casa de estudios.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/Content/Portada/img/about.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <h3>La Universidad Privada Domingo Savio Sede Tarija</h3>
                    <p class="fst-italic">
                        Ofrecemos a todos nuestros estudiantes los siguientes beneficios con el fin de mejor su aprendizaje y formación durante su vida universitaria y profesional.
                    </p>
                    <ul>
                        <li>
                            <i class="ico-class fa-solid fa-handshake"></i>
                            <div>
                                <h5>Convenios</h5>
                                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                            </div>
                        </li>
                        <li>
                            <i class="ico-class fa-solid fa-scroll"></i>
                            <div>
                                <h5>Becas</h5>
                                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                            </div>
                        </li>
                        <li>
                            <i class="ico-class fa-solid fa-book-open-reader"></i>
                            <div>
                                <h5>Formación</h5>
                                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        Gracias a todos nuestros convenios con distintas instituciones y empresas te ofrecemos descuentos en sus servicios y posibilidades de postularte para algún empleo.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container" data-aos="zoom-in">

            <div class="row">

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/autospa.jpg" class="img-fluid" alt="" /></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/itds.jpg" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/rimsory.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/walawa.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/cine.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/pil.png" class="img-fluid" alt=""></div>

                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/autospa.jpg" class="img-fluid" alt="" /></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/itds.jpg" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/rimsory.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/walawa.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/cine.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/Portada/img/clients/pil.png" class="img-fluid" alt=""></div>
                    </div>
                    <br>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Nuestros Profesionales</h2>
                <h3>Obtenga más información sobre<span> nuestros profesionales</span></h3>
                <p>Nuestros profesionales se encuentran alta mente capacitados en las distintas áreas que ofrece nuestra casa de estudios.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="icon-class fa-xl fa-solid fa-building"></i></div>
                        <h4><a href="">Facultad de Ciencias Empresariales</a></h4>
                        <ul class="list-group list-group-flush text-start color-carreras">
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería Comercial</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Administración de Empresas</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Contaduría Pública</li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="icon-class fa-lg fa-solid fa-laptop-code"></i></div>
                        <h4><a href="">Facultad de Ingeniería</a></h4>
                        <br>
                        <ul class="list-group list-group-flush text-start color-carreras">
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería de Sistemas</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería Industrial</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería en Redes y Telecomunicaciones</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería en Gestión Petrolera</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería en Gestión Ambiental</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ingeniería Civil</li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="icon-class fa-xl fa-solid fa-building-columns"></i></div>
                        <h4><a href="">Facultad de Ciencias Sociales y Jurídicas</a></h4>
                        <ul class="list-group list-group-flush text-start color-carreras">
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Psicología</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Ciencias de la Comunicación Social</li>
                            <li class="list-group-item"><i class="icon-color fa-solid fa-square fa-2xs"></i> Derecho</li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/Portada/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/Portada/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/Portada/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/Portada/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/Portada/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Preguntas Frecuentes</h2>
                <h3>Preguntas <span>frecuentes</span></h3>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <ul class="faq-list">

                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contactos</h2>
                <h3><span>Contáctenos</span></h3>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Nuestra dirección</h3>
                        <p>B/ German Bush, Av. Los Sauces</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Envíenos un correo electrónico</h3>
                        <p>upds.trabaja@upds.edu.bo</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Llámenos</h3>
                        <p>66-45612</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3711.2496810639977!2d-64.74400988255616!3d-21.5370903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x940647dfb7a7d803%3A0x9c955b696d54271a!2sUniversidad%20Privada%20Domingo%20Savio!5e0!3m2!1ses!2sbo!4v1653604911975!5m2!1ses!2sbo" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <img src="~/Content/img/Logos/isologo-azul-upds_800x800.png" style="width:80%"/>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Información de Contacto</h4>
                    @*<h3>UPDS Trabaja<span>.</span></h3>*@
                    <p>
                        B/ German Bush, Av. Los Sauces <br>
                        Tarija - Bolivia <br><br>
                        <strong>Telefono:</strong> 66-12345<br>
                        <strong>Correo:</strong> upds.trabaja@upds.edu.bo<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces útiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">Nuestros Beneficios</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Nuestros Profesionales</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#faq">Preguntas Frecuentes</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contactos</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Login","Home")">Iniciar Sesión</a></li>
                    </ul>
                </div>

                @*<div class="col-lg-3 col-md-6 footer-links">
            <h4>Cargos Profesionales</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Empleos de Desarrollador Web</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Empleos de Analista</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Empleos de Instructor</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Empleos de Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Empleos de Director</a></li>
            </ul>
        </div>*@

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestras Redes Sociales</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/universidadprivadadomingosaviotarija" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/upds_tarija/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.youtube.com/c/UniversidadPrivadaDomingoSavioUpdsTarija" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                        <a href="https://twitter.com/udomingosavio" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>UPDS</span></strong>. todos los derechos reservados
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>
<!-- ======= End Footer ======= -->
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>