
@{
    ViewBag.Title = "SinAcceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-personalizado">
    <div class="alert alert-danger mt-5 text-center" role="alert">
        Sin Acceso
    </div>
</div>
