
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutCuenta.cshtml";
}
@{ string baseUrl = new Uri(Request.Url, Url.Content("~")).AbsoluteUri;
    baseUrl = baseUrl.Remove(baseUrl.Length - 1);
}

<div class="container shadow-lg p-3 bg-white rounded pl-5 pr-5 pb-5 mt-4">
    <h1 class="text-center">Registrar</h1>
    <div id="searchPersona">
        <div class="alert" style="background-color: #0099CC" role="alert">
            <p class="text-center text-white font-weight-bold">Para poder registrarse como Candidato. Es necesario que se encuentre registrado en la UPDS</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group mb-2 d-flex flex-nowrap">
                        <input type="search" class="form-control" name="buscarPersona" id="buscarPersona" placeholder="Ingrese su CI">
                        <button type="button" class="btn btnBlueB ml-2" onclick="BuscarPersona()">
                            <img src="@baseUrl/Content/iconos/person_search.svg" style="width:25px;height:30px;" />
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 mt-3">
                <div class="Datos_Cuenta_Existente">
                    <div id="correoCuentaExistente"></div>
                </div>
            </div>
        </div> 
        @*<div class="d-flex justify-content-center">
                <form>
                    <div class="form-group mb-2 d-flex flex-nowrap">
                        <input type="text" class="form-control" name="buscarPersona" id="buscarPersona" placeholder="Ingrese su CI">
                        <button type="button" class="btn btnBlueB ml-2" onclick="BuscarPersona()">
                            <img src="@baseUrl/Content/iconos/person_search.svg" style="width:25px;height:30px;" />
                        </button>
                    </div>
                </form>
            </div>*@
    </div>

    <div id="Datos_Personales">
        <form id="formCandidato" class="needs-validation" enctype="multipart/form-data" novalidate>
            <h4 class="mt-1 mb-1">PERFIL:</h4>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" readonly required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                    <input type="hidden" id="id" name="id" value="-1">
                    <input type="hidden" id="idpersona" name="idpersona">
                    <input type="hidden" id="idCandidato" name="idCandidato" value="-1">
                </div>
                <div class="col-12 col-md-6">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" readonly required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-3">
                    <label for="tipoDocumento">Tipo de Documento:</label>
                    <select class="custom-select" id="tipoDocumento" name="tipoDocumento" required>
                        <option selected disabled value="">Cambiar...</option>
                        <option value="CI">Cedula de Identidad</option>
                        <option value="PASAPORTE">Pasaporte</option>
                        <option value="OTRO">Otro</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor seleccione un tipo.
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="nroDocumento">Nro Documento:</label>
                    <input type="text" class="form-control" id="nroDocumento" name="nroDocumento" readonly required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="fechaNacimiento">Fecha Nacimiento:</label>
                    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" readonly required>
                    <div class="invalid-feedback">¡Seleccione una fecha!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="sexo">Sexo:</label>
                    <select class="custom-select" id="sexo" name="sexo" required>
                        <option selected disabled value="">Cambiar...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor seleccione un tipo.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-3">
                    <label for="nacionalidad">Nacionalidad:</label>
                    <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="pais">Pais Natal:</label>
                    <input type="text" class="form-control" id="pais" name="pais" required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="estadoRegion">Estado/Region:</label>
                    <input type="text" class="form-control" id="estadoRegion" name="estadoRegion" required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="ciudad">Ciudad:</label>
                    <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-9">
                    <label for="descripcion">Descripcion:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" minlength="10" maxlength="500" style="resize: none; height: 200px;" required onkeyup="ContarCaracteres($(this).val(),'500',$(this))"></textarea>
                    <p id="CaracteresDispCandidato" class="text-left"></p>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="imagen">Imagen:</label>
                    <div id="contImg" class="border border-secondary" style="height:168px;"></div>
                    <img id="foto" class="img-fluid border" style="max-height: 168px; min-height: 168px; height: 168px; width:100%" src="" alt="" hidden="hidden">
                    <div id="div_file_new">
                        <label id="palabras" for="imagen">Seleccionar Imagen</label>
                        <input type="file" name="imagen" id="imagen" class="form-control-file" onchange="showImg()" required />
                        <div class="invalid-feedback bg-white">¡Campo Vacio!</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="profesionOcupacion">Profesion u ocupación:</label>
                    <input type="text" class="form-control" id="profesionOcupacion" name="profesionOcupacion" required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="telefonoCelular">Tel.Celular:</label>
                    <input type="text" class="form-control" oninput="verificarCelular(0)" id="telefonoCelular" name="telefonoCelular" maxlength="8">
                    <div id="estadoNumero" style="font-size:13px;" class="text-danger" hidden="hidden">¡Su número de celular debe tener 8 caracteres!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="telefonoFijo">Tel.Fijo:</label>
                    <input type="text" class="form-control" id="telefonoFijo" name="telefonoFijo">
                </div>
            </div>
            <hr />
            <h4 class="mt-1 mb-1">CUENTA:</h4>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" oninput="verificarCorreo(0)" class="form-control" id="email" name="email" required>
                    <div id="estadoCorreo" style="font-size:13px;" class="text-danger" hidden="hidden">¡Correo no valido!</div><div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="clave">Contraseña:</label>
                    <input type="password" class="form-control" id="clave" name="clave" required>
                    <div class="invalid-feedback">¡Campo Vacio!</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="confirmClave">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="confirmClave" name="confirmClave" required>
                    <div id="clave2" class="invalid-feedback">Las contraseñas no coinciden</div>
                </div>
            </div>
            <hr />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="terminosCondiciones" required>
                <label class="form-check-label text-dark" for="terminosCondiciones">
                    He leído y acepto los <a style="text-decoration: underline; cursor: pointer;" class="text-primary" data-toggle="modal" data-target="#modalTerminosCondiciones">Términos y Condiciones de uso</a>
                </label>
                <div class="invalid-feedback">¡Debe aceptar los Términos y Condiciones!</div>
            </div>
            <div class="form-group d-flex justify-content-center py-2 mt-5">
                <button id="btnRegistrarCandidato" type="submit" class="btn btnBlueR">Registrar</button>
            </div>
        </form>
    </div>
</div>
<br />
<br />

<!-- Modal -->
<div class="modal fade" id="modalTerminosCondiciones" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Términos y Condiciones de Uso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-primary text-center" style="text-decoration: underline; font-size:18px;">TÉRMINOS Y CONDICIONES DE USO<br />UPDS TRABAJA</h5>
                <p class="mt-4"><b>Fecha de publicacion:</b> 14 de mayo del 2022<br /> <b>Fecha de ultima actualizacion:</b> 16 de mayo del 2022</p>

                <p>I. INFORMACION CORPORATIVA</p>
                <p>
                    El sitio web https://tarija.upds.edu.bo/UPDSTrabaja es ofrecido por la Univerwsidad Privada Domingo Savio Sede Tarija.
                    <br />Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.
                </p>

                <p>II. ACEPTACION</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</P>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>

                <p>III. USO DEL SERVICIO</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>

                <p>IV. DATOS, CONTENIDOS, E INFORMACION</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>
                <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona.</p>
            </div>
        </div>
    </div>
</div>