USE [UPDS_BolsaDeTrabajo]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 05/05/2022 15:54:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[TipoDeDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[Profesion] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidato](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Nacionalidad] [varchar](100) NOT NULL,
	[TipoDeDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[EstadoCivil] [varchar](50) NULL,
	[LicenciaVehiculo] [varchar](100) NULL,
	[LicenciaMotocicleta] [varchar](100) NULL,
	[ProfesionOcupacion] [varchar](150) NULL,
	[IdEstudiante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarreraBDT]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarreraBDT](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaBDT]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaBDT](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colegio]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colegio](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Nivel] [varchar](100) NOT NULL,
	[Pais] [varchar](100) NOT NULL,
	[EstadoRegion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Contrato] [varchar](150) NOT NULL,
	[PretencionSalarial] [int] NOT NULL,
	[PresentacionBiografica] [varchar](500) NOT NULL,
	[PaisResidencia] [varchar](100) NOT NULL,
	[EstadoRegion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[Privacidad] [int] NOT NULL,
	[Estado] [varchar](100) NOT NULL,
	[IdEducacion] [int] NOT NULL,
	[IdDatosPersonales] [int] NOT NULL,
	[IdCandidato] [int] NOT NULL,
	[IdCarrera] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosPersonales]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosPersonales](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Nacionalidad] [varchar](100) NOT NULL,
	[TipoDeDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[EstadoCivil] [varchar](50) NULL,
	[LicenciaVehiculo] [varchar](100) NULL,
	[LicenciaMotocicleta] [varchar](100) NULL,
	[Foto] [varbinary](max) NULL,
	[Telefono] [varchar](50) NULL,
	[Movil] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartamentoBDT]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartamentoBDT](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educacion]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educacion](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[IdColegio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleo]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleo](
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Titulo] [varchar](300) NOT NULL,
	[Contrato] [varchar](150) NOT NULL,
	[Descripcion] [varchar](3000) NOT NULL,
	[RangoSueldos] [varchar](150) NOT NULL,
	[ExperienciaMinima] [int] NOT NULL,
	[Periodo] [varchar](100) NOT NULL,
	[Pais] [varchar](100) NOT NULL,
	[EstadoRegion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[CorreoEnvioPostulaciones] [varchar](150) NOT NULL,
	[Estado] [varchar](100) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[FechaExpiracion] [datetime] NULL,
	[Teletrabajo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleoCategoria]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleoCategoria](
	[IdCategoria] [int] NOT NULL,
	[IdEmpleo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC,
	[IdEmpleo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] NOT NULL,
	[NombreEmpresa] [varchar](200) NOT NULL,
	[NombrePersonaResponsable] [varchar](100) NOT NULL,
	[SitioWeb] [varchar](200) NULL,
	[Direccion] [varchar](200) NOT NULL,
	[NIT] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienciaLaboral]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienciaLaboral](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[NombreEmpresa] [varchar](200) NOT NULL,
	[CargoEnEmpresa] [varchar](200) NOT NULL,
	[ContactoEmpresa] [varchar](100) NOT NULL,
	[Industria] [varchar](150) NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[TrabajoActual] [bit] NOT NULL,
	[NroPersonasAlCargo] [int] NULL,
	[Pais] [varchar](100) NOT NULL,
	[EstadoRegion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[IdCurriculum] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidad]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidad](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](300) NOT NULL,
	[AniosExperiencia] [int] NOT NULL,
	[IdCurriculum] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Nivel] [varchar](100) NOT NULL,
	[Lectura] [varchar](100) NOT NULL,
	[Escritura] [varchar](100) NOT NULL,
	[IdEducacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndustriaBDT]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndustriaBDT](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformacionAdicional]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformacionAdicional](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[IdCurriculum] [int] NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitado]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitado](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[IdCurriculum] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[IdEmpleo] [int] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[SueldoAproximado] [varchar](200) NULL,
	[Carta] [varchar](3000) NULL,
	[Estado] [varchar](100) NULL,
	[IdMensaje] [int] NULL,
	[idMensajeReceptor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lista]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lista](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Institucion] [varchar](200) NOT NULL,
	[CarreraCursoSeminario] [varchar](200) NOT NULL,
	[Nivel] [varchar](100) NOT NULL,
	[Pais] [varchar](100) NOT NULL,
	[EstadoRegion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[EstudiandoActualmente] [bit] NOT NULL,
	[IdEducacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensaje]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensaje](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Asunto] [varchar](300) NOT NULL,
	[Texto] [varchar](3000) NOT NULL,
	[Estado] [varchar](150) NOT NULL,
	[Intermediario] [varchar](100) NOT NULL,
	[Emisor] [varchar](100) NOT NULL,
	[Destinatario] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
	[Estado] [varchar](100) NOT NULL,
	[Emisor] [varchar](100) NOT NULL,
	[Receptor] [varchar](100) NOT NULL,
	[IdPostulante] [int] NULL,
	[IdInvitado] [int] NULL,
	[IdEmpresaReceptor] [int] NULL,
	[IdCurriculum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[TelefonoCelular] [varchar](50) NULL,
	[TelefonoFijo] [varchar](50) NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Pais] [varchar](100) NOT NULL,
	[EstadoRegion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[Foto] [varbinary](max) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulante]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulante](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[PretencionSalarial] [int] NULL,
	[CartaPresentacion] [varchar](3000) NOT NULL,
	[IdEmpleo] [int] NOT NULL,
	[IdCurriculum] [int] NOT NULL,
	[Estado] [varchar](200) NULL,
	[IdMensaje] [int] NULL,
	[Aceptado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfesionOcupacionBDT]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfesionOcupacionBDT](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/05/2022 15:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Clave] [varchar](100) NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[Rol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administrador] ([Id], [Nombre], [Apellido], [TipoDeDocumento], [NroDocumento], [FechaNacimiento], [Sexo], [Direccion], [Profesion]) VALUES (2, N'Administrador', N'Principal', N'CI', N'admin', CAST(N'1998-04-11' AS Date), N'Masculino', N'German Busch, Av. Los Sauces', N'Ingeniería de Sistemas')
GO
SET IDENTITY_INSERT [dbo].[CarreraBDT] ON 

INSERT [dbo].[CarreraBDT] ([Id], [Nombre]) VALUES (0, N'Administración de Empresas')
INSERT [dbo].[CarreraBDT] ([Id], [Nombre]) VALUES (1, N'Ciencias de la Comunicación Social')
INSERT [dbo].[CarreraBDT] ([Id], [Nombre]) VALUES (2, N'Contaduría Pública')
SET IDENTITY_INSERT [dbo].[CarreraBDT] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriaBDT] ON 

INSERT [dbo].[CategoriaBDT] ([Id], [Nombre]) VALUES (0, N'Administración y Oficina')
INSERT [dbo].[CategoriaBDT] ([Id], [Nombre]) VALUES (1, N'Agricultura y Campo')
INSERT [dbo].[CategoriaBDT] ([Id], [Nombre]) VALUES (2, N'Arquitectura')
SET IDENTITY_INSERT [dbo].[CategoriaBDT] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartamentoBDT] ON 

INSERT [dbo].[DepartamentoBDT] ([Id], [Nombre]) VALUES (0, N'Beni')
INSERT [dbo].[DepartamentoBDT] ([Id], [Nombre]) VALUES (1, N'Chuquisaca')
INSERT [dbo].[DepartamentoBDT] ([Id], [Nombre]) VALUES (2, N'Cochabamba')
SET IDENTITY_INSERT [dbo].[DepartamentoBDT] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Usuario] ([Id], [Correo], [Clave], [FechaActualizacion], [Rol]) VALUES (2, N'admin@gmail.com', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', CAST(N'2022-05-04T16:09:57.673' AS DateTime), N'Administrador')
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ('-') FOR [NIT]
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[Candidato]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD FOREIGN KEY([IdCandidato])
REFERENCES [dbo].[Candidato] ([Id])
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[CarreraBDT] ([Id])
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD FOREIGN KEY([IdDatosPersonales])
REFERENCES [dbo].[DatosPersonales] ([Id])
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD FOREIGN KEY([IdEducacion])
REFERENCES [dbo].[Educacion] ([Id])
GO
ALTER TABLE [dbo].[Educacion]  WITH CHECK ADD FOREIGN KEY([IdColegio])
REFERENCES [dbo].[Colegio] ([Id])
GO
ALTER TABLE [dbo].[Empleo]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[EmpleoCategoria]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriaBDT] ([Id])
GO
ALTER TABLE [dbo].[EmpleoCategoria]  WITH CHECK ADD FOREIGN KEY([IdEmpleo])
REFERENCES [dbo].[Empleo] ([Id])
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[ExperienciaLaboral]  WITH CHECK ADD FOREIGN KEY([IdCurriculum])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[Habilidad]  WITH CHECK ADD FOREIGN KEY([IdCurriculum])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[Idioma]  WITH CHECK ADD FOREIGN KEY([IdEducacion])
REFERENCES [dbo].[Educacion] ([Id])
GO
ALTER TABLE [dbo].[InformacionAdicional]  WITH CHECK ADD FOREIGN KEY([IdCurriculum])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[Invitado]  WITH CHECK ADD FOREIGN KEY([IdCurriculum])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[Invitado]  WITH CHECK ADD FOREIGN KEY([IdEmpleo])
REFERENCES [dbo].[Empleo] ([Id])
GO
ALTER TABLE [dbo].[Invitado]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[Invitado]  WITH CHECK ADD FOREIGN KEY([idMensajeReceptor])
REFERENCES [dbo].[Mensaje] ([Id])
GO
ALTER TABLE [dbo].[Invitado]  WITH CHECK ADD FOREIGN KEY([IdMensaje])
REFERENCES [dbo].[Mensaje] ([Id])
GO
ALTER TABLE [dbo].[Lista]  WITH CHECK ADD FOREIGN KEY([IdEducacion])
REFERENCES [dbo].[Educacion] ([Id])
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD FOREIGN KEY([IdCurriculum])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD FOREIGN KEY([IdEmpresaReceptor])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD FOREIGN KEY([IdInvitado])
REFERENCES [dbo].[Invitado] ([Id])
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD FOREIGN KEY([IdPostulante])
REFERENCES [dbo].[Postulante] ([Id])
GO
ALTER TABLE [dbo].[Postulante]  WITH CHECK ADD FOREIGN KEY([IdCurriculum])
REFERENCES [dbo].[Curriculum] ([Id])
GO
ALTER TABLE [dbo].[Postulante]  WITH CHECK ADD FOREIGN KEY([IdEmpleo])
REFERENCES [dbo].[Empleo] ([Id])
GO
ALTER TABLE [dbo].[Postulante]  WITH CHECK ADD FOREIGN KEY([IdMensaje])
REFERENCES [dbo].[Mensaje] ([Id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Perfil] ([Id])
GO
